| <span><input type="checkbox" [(ngModel)]="fave">Faves</span>
<p>Search <input type="text" value="kitty" [(ngModel)]="search"></p>
<ul class="kitties-list">
	<li *ngFor="let kitty of kitties | SearchPipe:search | FavePipe:fave" (click)="onSelect(kitty)" [class.selected]="kitty === selectedKitty">
		<a [routerLink]="['/detail', kitty.id]">
			<img class="thumbnail" src="{{kitty.src}}"/>
    		<p>{{kitty.name}}<p>
    	</a>
	</li>
</ul>
<my-kitty-detail [kitty]="selectedKitty"></my-kitty-detail>
