.kitties-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	list-style-type: none;
}

.kitties-list li {
	background: steelblue;
	border-radius: 10px;
	margin-bottom: 50px;
}

.description {
	display: none;
}

.kitties-list li:hover {
	background: #23415a;
	cursor: pointer;
}

.kitties-list li:hover .description {
	display: inline;
}

.kitties-list a {
	color: #fff;
	text-decoration: none;
}

.thumbnail {
	height: 350px;
	width: 400px;
}

span, p {
	font-family: 'Sansita', sans-serif;
}
